
* {
  text-align: center;
  text-shadow: 0 0 9px white;
}

html {
  padding: 0 calc((100% - 1024px)/2);
  height: 100%;
  background-position: center;
  background-size: cover;
}

body {
  margin: 0;
  height: 100%;
  width: 1024px;
  display: flex;
  flex-flow: column;
}

nav ul {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: center;
  align-items: center;
}

nav ul li {
  display: inline;
  list-style-type: none;
  text-align: center;
}

button {
  font-size: 24px;
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
  color: blue;
}

img, iframe {
  width: 100%;
  height: 100%;
}

iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#videos #slideFileDiv {
  position: relative;
  padding-top: 56.25%;
}

#slider {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

#fun {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
