<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Scram!" />
    <title>Aidan's Personal Problem</title>
    <link rel="shortcut icon" type="image/png" href="images/favicons/favicon.ico"/>
  </head>
  <body>
    <h1>what r u doig here!!!!!! D:<</h1>
  </body>
</html>
