<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Yippee!" />
    <title>Aidan's Personal Proposition</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicons/favicon.ico" />
  </head>
  <body>
    <form action="api/images" method="post">

      <h1>Account Credentials</h1>
      <h3>Username</h3>
      <input type="text" name="username" />
      <h3>Password</h3>
      <input type="password" name="password" />

      <h1>File Data</h1>
      <h3>Filename</h3>
      <input type="text" name="filename" required />
      <h3>File</h3>
      <input type="file" name="file" />
      <h3>Title</h3>
      <input type="text" name="title" />
      <h3>Description</h3>
      <input type="text" name="description" />

      <h1>Submit</h1>
      <input type="submit" />

    </form>
  </body>
</html>
