<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Welcome." />
    <title>Aidan's Personal Portfolio</title>
    <link rel="shortcut icon" type="image/x-icon" href="images/favicons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="styles/portfolio.css">
  </head>
  <body>
    <header>
      <div class="column leftColumn">
        <div id="titleHeader">
          <h1><a href="enjoyment">Aidan Zamboni<img id="logo" src="images/favicons/faviconoutline.jpg" /></a></h1>
        </div>
        <p>I am a full stack developer who enjoys working with databases.</p>
      </div>
      <div class="column rightColumn">
        <p>Tempe, Arizona
          (623)-698-6662
          a.k.zamboni@gmail.com
          <a href="http://www.linkedin.com/in/AidanZamboni" target="_blank">linkedin.com/in/AidanZamboni</a>
          <a href="https://github.com/AAAAAAidan" target="_blank">github.com/AAAAAAidan</a>
        </p>
      </div>
    </header>
    <main>
      <div class="column leftColumn">

        <h4 class="sectionHeader">PROJECTS</h4 class="sectionHeader">

        <h4 class="subSectionHeader">SiIvaGunner Database<span class="smallText"> - <a href="https://siivagunnerdatabase.net" target="_blank">siivagunnerdatabase.net</a></span></h4>
        <p><span class="smallText">Dec. 2019 - Current</span></p>
        <p>Wrote Google Apps scripts to work with the Google Sheets and YouTube APIs to keep track of channels and playlists.</p>
        <p>Developed services for use in assisting the associated Fandom wikis.</p>
        <p><span class="smallText">Mar. 2021 - Current</span></p>
        <p>Developed a web application with Django  to run on the Google Cloud platform.</p>

        <h4 class="sectionHeader">EDUCATION</h4 class="sectionHeader">

        <h4 class="subSectionHeader">Mesa Community College<span class="smallText"> - Mesa, Arizona</span></h4>
        <span class="smallText">Aug. 2017 - Dec. 2020</span></p>
        <p>Awarded the Presidents’ Honors Scholarship.</p>
        <p>Received an associate degree in computer science.</p>
        <p>Graduated from honors with the highest distinction at a 3.894 GPA.</p>

        <h4 class="subSectionHeader">Per Scholas<span class="smallText"> - Phoenix, Arizona</span></h4>
        <span class="smallText">May 2021 - Aug. 2021</span></p>
        <p>Completed a 14 week full-time course in full stack Java development.</p>
        <p>Developed a digital book library web application with Spring Boot and populated its database and files using the Gutendex API.</p>
        <p>Deployed the project to <a href="https://simplelibrary.org" target="_blank">simplelibrary.org</a> on the Google Cloud platform.</p>

        <h4 class="sectionHeader">WORK</h4 class="sectionHeader">

        <h4 class="subSectionHeader">CaptionCall<span class="smallText"> - Captioning Agent in Scottsdale, Arizona</span></h4>
        <p><span class="smallText">Jan. 2018 - May 2021</span></p>
        <p>Transcribed live telephone calls using speech recognition software.</p>
        <p>Filled out bug reports on software errors.</p>
        <p>Awarded National Captioning Agent of the Year of 2020.</p>

      </div>
      <div class="column rightColumn">

        <h4 class="sectionHeader">LANGUAGES</h4 class="sectionHeader">
        <p>JavaScript, Java, Python, HTML, CSS, SQL, Racket, C++, MIPS, MATLAB, Prolog, Visual Basic, CLI.</p>

        <h4 class="sectionHeader">WEB FRAMEWORKS</h4 class="sectionHeader">
        <p>Spring Boot, Django.</p>

        <h4 class="sectionHeader">CLOUD SERVICES</h4 class="sectionHeader">
        <p>Google Cloud Run, Google Cloud Build, Google Cloud SQL, Google Cloud Storage, Google Cloud Functions, Google Apps Script.</p>

        <h4 class="sectionHeader">APIS</h4 class="sectionHeader">
        <p>Google Sheets, Google Books, YouTube, Gutendex, Fandom.</p>

        <h4 class="sectionHeader">ADDITIONAL EXPERIENCE</h4 class="sectionHeader">
        <p>Following style guides in code and wiki editing.</p>
        <p>Writing custom user scripts in JavaScript.</p>
        <p>Working as part of a team in sports and classes.</p>
        <p>Completing coursework on Codecademy, Sololearn, HackerRank, and Unity.</p>

      </div>
    </main>
    <footer>
    </footer>
  </body>
</html>
